/* header */
header {
    background-color: #a8d0e6;
    height: 70px;
    position: sticky;
    top: 0;
    display: grid;
}

/* header items */

#menu {
    grid-column: 1;
    text-align: center;
}

#titleContainer {
    font-size: 40px;
    text-align: center;
    grid-column: 2/ span 2;
}

#title {
    color: #eeeeee;
    height: 100%;
}

#settings {
    grid-column: 4;
    text-align: center;
}


/* maincontent */
#content {
    height: 736px;
}

/* footer */
footer {
    background-color: #a8d0e6;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* navigation */
#navi {
    display: grid;
}

/* navigation buttons */
#home {
    grid-column: 1;
}

#search {
    grid-column: 2;
}

#notif {
    grid-column: 3;
}

#prof {
    grid-column: 4;
}

.navItem {
    text-align: center;
    font-size: 30px;
}